.profile-show {
  background-color: #f4f5f9; }
  .profile-show .user {
    padding: 24px;
    width: 100%;
    background-color: white; }
    .profile-show .user .user-info {
      display: flex;
      align-items: center; }
      .profile-show .user .user-info .user-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid rgba(208, 214, 219, 0.5);
        margin-right: 20px; }
        .profile-show .user .user-info .user-avatar img {
          width: 100%; }
      .profile-show .user .user-info .user-profile {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .profile-show .user .user-info .user-profile .profile-name {
          font-size: 17px;
          text-align: left;
          color: #f6b40c;
          margin-bottom: 6px;
          letter-spacing: 0; }
        .profile-show .user .user-info .user-profile .profile-gender-birthday, .profile-show .user .user-info .user-profile .profile-city-grade {
          font-size: 13px;
          color: #666;
          margin-bottom: 6px; }
    .profile-show .user .user-country {
      width: 100px;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      color: #666;
      margin-top: 15px; }
  .profile-show .user-hobby {
    margin-top: 10px;
    background-color: white;
    width: 100%;
    padding-left: 12px; }
    .profile-show .user-hobby .hobby-title {
      height: 50px;
      line-height: 50px;
      padding-left: 8px;
      position: relative;
      z-index: 5;
      font-size: 18px;
      color: #000;
      letter-spacing: 0;
      font-weight: 600; }
    .profile-show .user-hobby .hobby-title div {
      position: absolute;
      height: 15px;
      z-index: -5;
      top: 20px;
      left: -20px;
      width: 105px;
      background: #f4f5f9; }
    .profile-show .user-hobby .hobby-items {
      min-height: 65px;
      padding: 0 9px 9px 9px; }
