.profile-show{
  background-color: #f4f5f9;
  .user{
    padding: 24px;
    width: 100%;
    background-color: white;
    .user-info{
      display: flex;
      align-items: center;
      .user-avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid rgba(208, 214, 219, .5);
        margin-right: 20px;
        img{
          width: 100%;
        }
      }
      .user-profile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .profile-name{
          font-size: 17px;
          text-align: left;
          color: #f6b40c;
          margin-bottom: 6px;
          letter-spacing: 0;
        }
        .profile-gender-birthday, .profile-city-grade{
          font-size: 13px;
          color: #666;
          margin-bottom: 6px;
        }
      }
    }
    .user-country{
      width: 100px;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      color: #666;
      margin-top: 15px;
    }
  }
  .user-hobby{
    margin-top: 10px;
    background-color: white;
    width: 100%;
    padding-left: 12px;
    .hobby-title{
      height: 50px;
      line-height: 50px;
      padding-left: 8px;
      position: relative;
      z-index: 5;
      font-size: 18px;
      color: #000;
      letter-spacing: 0;
      font-weight: 600;
    }
    .hobby-title div{
      position: absolute;
      height: 15px;
      z-index: -5;
      top: 20px;
      left: -20px;
      width: 105px;
      background: #f4f5f9;
    }
    .hobby-items{
      min-height: 65px;
      padding: 0 9px 9px 9px;
    }
  }
}