.submit-button-bottom{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  button{
    outline: none;
    width: 100%;
    height: 50px;
    border: none;
    font-weight: 500;
    letter-spacing: 0;
    text-shadow: 0 0 0 white;
    font-size: 15px;
    color: white;
    position: relative;
    cursor: pointer;
    background: #ffd200;
    box-shadow: 0 -2px 10px 0 rgba(237, 174, 0, 0.4);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  }
  button[disabled]{
    box-shadow:  0 -2px 10px 0 rgba(208, 214, 219, 0.4);
    background: #dfdfe4;
  }
  button.pressing:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .1);
  }
  .press{
    width: 100%;
    height: 50px;
    z-index: 20;
    background: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
  }
}