@keyframes topic-move-hide
 {
   from {bottom: 0;}
   to {bottom: -50%;}
 }

@-webkit-keyframes topic-move-hide /*Safari and Chrome*/
{
  from {bottom: 0;}
  to {bottom: -50%;}
}

@keyframes topic-move-show
{
  from {bottom: -50%;}
  to {bottom: 0;}
}

@-webkit-keyframes topic-move-show /*Safari and Chrome*/
{
  from {bottom: -50%;}
  to {bottom: 0;}
}

.update-modal{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  .grey{
    flex: 1 1 auto;
  }
  .update-hobbies{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 10px 0 rgba(37, 38, 94, 0.1);
    .title{
      flex: 0 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      position: relative;
      .title-word{
        position: relative;
        z-index: 5;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        letter-spacing: 0;
      }
      .title-word:after{
        content: '';
        position: absolute;
        width: calc(100% + 20px);
        left: -20px;
        top: 5%;
        height: 90%;
        background: #f4f5f9;
        z-index: -2;
      }
      button{
        width: 70px;
        height: 30px;
        border-radius: 5px;
        background: #ffd200;
        font-size: 14px;
        color: white;
        border: none;
        outline: none;
      }
    }
    .title:after{
      content: '';
      position: absolute;
      width: calc(200% + 40px);
      height: 1px;
      z-index: 20;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid  #d0d6db;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(.5,.5);
      transform: scale(.5,.5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .hobby-content{
      flex: 1 0 auto;
      padding: 15px 0;
    }
  }
}