.class-lessons-page{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.class-lessons-page > .class-detail-header{
    flex-shrink: 0;
    height: 50px;
    display: flex;
    border-bottom: 1px solid rgb(223, 223, 228);
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    background-color: white;
}

.class-lessons-page > .class-detail-header > div{
    flex: 1;
}

.class-lessons-page > .class-detail-header > div.class-detail-title{
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 2px;
}

.class-lessons-page > .class-detail-header > div.class-order{
    display: flex;
    justify-content: flex-end;
}

.class-lessons-page > .class-detail-header > div.arrow{
    font-size: 1.5em;
}

.class-lessons-content{
    flex: 1 0 auto;
    background-color:  rgb(244, 245, 249);
}

.class-lessons-content > .content-info{
    text-align: center;
    padding: 1em 0;
    background-color: white;
}

.class-lessons-content > .content-info > .content-info-title{
    color: rgb(33, 23, 24);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.class-lessons-content > .content-info > .content-numbers{
    color: rgb(246, 180, 12);
    font-size: 3em;
    margin-bottom: .5em;
}

.class-lessons-page  .content-list{
    margin-top: .8em;
}

.class-lessons-page  .content-list > a{
    display: flex;
    align-items: center;
    padding: .5em 1em;
    margin-bottom: .5em;
    background-color: #fff;
    height: 150px;
    position: relative;
}

.class-lessons-page  .content-list > a > div.class-lesson-img{
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid rgb(244, 245, 249);
    overflow: hidden;
}

.class-lessons-page  .content-list > a > div.class-lesson-img > img{
    height: 100%;
}

.class-lessons-page  .content-list > a > div.class-lesson-info{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: #000;
    justify-content: space-between;
}

.class-lessons-page  .content-list > a > input.clickEvent{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
}

.class-lessons-page  .content-list > a > div{
    flex: 0 0 auto;
}

div.class-lesson-info > .lessons-price{
    display: flex;
    margin: 1em 0;
    align-items: baseline;
}

div.class-lesson-info > .lessons-title{
    font-size: 15px;
}

div.class-lesson-info > .lessons-price > .price{
    font-size: 2em;
    color: rgb(246, 180, 12);
}

div.class-lesson-info > .lessons-price > .yuan{
    font-size: 1em;
}

div.class-lesson-info > .lessons-price > .discount{
    font-size: .8em;
    color: rgb(246, 109, 122);
    margin-left: 1em;
}



div.class-lesson-info > .lessons-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.class-lesson-info > .lessons-number > .lessons{
    font-size: .8em;
    color: rgb(246, 180, 12);
}

div.class-lesson-info > .lessons-number > .before{
    font-size: 1em;
    color: #000;
}