.main-div{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
  img{
    opacity: 0;
    width: 100%;
  }
  .images-container{
    position: absolute;
    z-index: 20;
    left: -100%;
    top: 0;
    display: flex;
    .img-container{
      flex: 1;
      display: inline-block;
      box-sizing: border-box;
      overflow: hidden;
      img{
        max-width: 1200px;
        width: 100%;
        opacity: 1;
      }
    }
  }
  .images-active{
    position: absolute;
    z-index: 50;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .images-dot{
      width: 5px;
      height: 5px;
      background-color: #d0d6db;
      border-radius: 50%;
      margin: 0 4px;
    }
    .images-dot.active{
      width: 10px;
      border-radius: 6px;
      background-color: #f6b40c;
    }

  }
}

@keyframes modal-swipe-right
{
  from {left: -100%;}
  to {left: -200%;}
}

@-webkit-keyframes modal-swipe-right /*Safari and Chrome*/
{
  from {left: -100%;}
  to {left: -200%;}
}

@keyframes modal-swipe-left
{
  from {left: -100%;}
  to {left: 0;}
}

@-webkit-keyframes modal-swipe-left /*Safari and Chrome*/
{
  from {left: -100%;}
  to {left: 0;}
}