.buzz-round-button {
  position: relative;
  display: inline-block; }
  .buzz-round-button button, .buzz-round-button .ui.button {
    width: 300px !important;
    height: 60px !important;
    border-radius: 50px !important;
    box-shadow: 0 1px 3.5px 0 rgba(0, 0, 0, 0.1) !important;
    background-color: #ffffff !important;
    border: solid 0.5px #dfdfe4 !important; }
  .buzz-round-button img, .buzz-round-button .ui.image {
    position: absolute !important;
    left: 0;
    top: 0;
    max-height: 100% !important; }
