.zoom-join{
  display: flex;
  flex-direction: column;
  .content-no-wechat{
    position: relative;
    flex: 1 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .buzz-title{
      p{
        font-size: 23px;
        font-weight: 600;
        line-height: 32px;
        color: #000;
        margin-bottom: 8px;
      }
      span{
        font-size: 12px;
        color: #666;
      }
    }
    .buzz-img{
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 80%;
        max-width: 600px;
      }
    }
  }
  .content{
    position: relative;
    flex: 1 0 auto;
    padding: 20px;
    background:white url('//cdn-corner.resource.buzzbuzzenglish.com/zoom/zoom_bg_earth.png') center center no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    .content-info{
      div{
        height: 28px;
        font-size: 15px;
        color: #000;
        line-height: 28px;
        display: inline-block;
        position: relative;
        z-index: 200;
        .shadow{
          position: absolute;
          z-index: 2;
          height: 14px;
          width: 100%;
          top: 8px;
          left: -20px;
          background-color: #f4f5f9;
        }
        .word{
          position: relative;
          z-index: 200;
        }
      }
    }
    .content-img{
      padding: 30px 25px 0 25px;
      .android{
        padding: 0 5px;
        img{
          margin-bottom: 12px;
          width: 120px;
        }
        p{
          font-size: 12px;
          color: #666;
          line-height: 16px;
          text-align: left;
          margin-bottom: 15px;
        }
      }
      .ios{
        padding: 0 5px;
        img{
          margin: 17px 0 12px 0;
          width: 250px;
        }
        p{
          font-size: 12px;
          color: #666;
          line-height: 16px;
          text-align: left;
        }
      }
      .line{
        border-bottom: 1px solid #dfdfe4;
      }
    }
    .right-img{
      position: absolute;
      right: 25px;
      top: 2px;
      height: auto;
      img{
        width: 135px;
      }
    }
  }
}