.friends-page{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.friends-tab{
    height: 40px;
    display: flex;
    align-items: center;
}

.friends-tab > div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-tab > div:nth-child(1){
    border-right: 1px solid #eee;
    background-color: white;
}

.friends-content{
    flex: auto;
    background-color: rgb(244,245,249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 52px;
}