.friends-page{
    height: 100%;
    margin: 0 -1em;
    display: flex;
    flex-direction: column;
}

.header-without-go-back{
    height: 70px;
    padding: 20px 0 0 0;
    z-index: 999;
    border-bottom: 1px solid #eee;
    position: relative;
    box-sizing: border-box;
    background-color: white;
}

.logo-without-back{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo-without-back img{
    max-height: 40px;
}

.friends-tab{
    height: 40px;
    display: flex;
    align-items: center;
}

.friends-tab > div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-tab > div:nth-child(1){
    border-right: 1px solid #eee;
    background-color: white;
}

.friends-content{
    flex: auto;
    background-color: rgb(244,245,249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}