.friends-page{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.friends-tab{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    position: relative;
}

.friends-tab:after{
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    z-index: -1;
    bottom: 0;
    border-bottom: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.friends-tab > div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.friends-tab > div.first{
    /*border-right: 1px solid #dfdfe4;*/
    position: relative;
}

.friends-tab > div.first:after{
    content: '';
    position: absolute;
    height: 200%;
    width: 1px;
    z-index: -1;
    top: 0;
    right: 0;
    border-right: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.friends-content{
    flex: auto;
    background-color: rgb(244,245,249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 52px;
}