.wechat-login{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.wechat-login > .login-wechat-img{
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: none;
}

.wechat-login > .login-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30%;
    flex: 1 0 auto;
    flex: none;
    padding:0 1em;
}

.wechat-login > .login-logo > img{
    width: 32%;
    flex: none;
}

.wechat-login > .login-wechat-img > img{
    width: 100%;
    display: inline-block;
}

.wechat-login > .login-wechat-img > .img-introduction{
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 200, 0, 0.9) , rgba(255, 216, 0, .9));
    display: flex;
    justify-content: center;
    align-items: center;
}

.wechat-login > .login-wechat-img > .img-introduction > p{
    padding: 0 1em;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.wechat-login > .login-wechat-btn{
    flex: auto;
    padding: 0 37.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.wechat-login > .login-wechat-btn div{
    box-shadow: 0 2px 7px rgba(0,0,0,.1);
    border-radius: 2.5em;
    display: flex;
    align-items: center;
    height: 4em;
    width: 100%;
    border: none !important;
    overflow: hidden;
}

.wechat-login > .login-wechat-btn img{
    height: 100%;
    flex: 0 0 auto;
}

.wechat-login > .login-wechat-btn p{
    height: 100%;
    flex: 1 0 auto;
    line-height: 4em;
    text-align: center;
    letter-spacing: 1px;
}

.wechat-login > .login-attention{
    height: 15%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wechat-login > .login-attention > p{
    text-align: center;
}

.wechat-login > .login-wechat-btn > .abc{
    width: 100%;
    color: rgba(0,0,0,.6);
    background-color: #fff;
    height: 5em;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 2.5em;
}