/* CSS talk bubble */
.talk-bubble {
    display: inline-block;
    position: relative;
    height: auto;
    background-color: white;
}

.border {
    border: 1px solid #666;
}

.round {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}

.tri-right {
    margin-left: 1em;
}

.tri-left {
    margin-right: 1em;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -22px;
    right: auto;
    top: -1px;
    bottom: auto;
    border: 22px solid;
    border-color: #666 transparent transparent transparent;
}

.tri-right.border.left-bottom:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -11px;
    right: auto;
    bottom: -1px;
    top: auto;
    border: 10px solid;
    border-color: transparent transparent #666 transparent;
}

.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -19px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 16px solid;
    border-color: white transparent transparent transparent;
}

.tri-right.left-bottom:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -9px;
    right: auto;
    bottom: 0;
    top: auto;
    border: 10px solid;
    border-color: transparent transparent white transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 16px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}

.tri-right.btm-left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}

.tri-right.right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}

.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
    padding: 0.5em 0.5em 0.5em 1em;
    text-align: left;
    line-height: 1.5em;
    word-break: break-all;
    max-width: 180px;
}

.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.talktext .sound {
    margin-left: 1em;
    margin-right: 0.5em;
    color: #edae00;
    transform: rotate(45deg);
    padding-bottom: 20px;
}

.talktext .flipped.sound {
    transform: rotate(225deg);
    padding-top: 0;
    padding-left: 5px;
}

.student-word, .practise-student {
    text-align: right;
}

.student-word .talktext {
    padding: 0.5em 1em 0.5em 0;
    width: 150px;
}

.tri-left.border.right-bottom:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -11px;
    left: auto;
    bottom: -1px;
    top: auto;
    border: 10px solid;
    border-color: transparent transparent #666 transparent;
}

.tri-left.right-bottom:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -9px;
    left: auto;
    bottom: 0;
    top: auto;
    border: 10px solid;
    border-color: transparent transparent white transparent;
}

.tip {
    /*color: #f4f5f9;*/
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
}

.chat.message {
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.reverse.chat.message {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
}

.chat.message .avatar {
    width: 3em;
    height: 3em;
}

.class-detail-practice {
    background-color: #f4f5f9;
}