.class-detail {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.class-detail > .class-detail-info {
    flex-shrink: 0;
    background-color: #f4f5f9;
}

.class-detail > .class-detail-practice {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
    padding-top: 10px;
}

.class-detail > .class-detail-header > div {
    flex: 1;
}


.class-detail > .class-detail-header > div.class-order {
    display: flex;
    justify-content: flex-end;
}

.class-detail > .class-detail-header > div.arrow {
    font-size: 1.5em;
}

.class-detail > .class-detail-info > .class-info {
    height: 10em;
    display: flex;
    width: 100%;
    margin-bottom: .5em;
    background-color: white;
    padding: 2em;
    flex: none;
    position: relative;
    align-items: center;
}

.class-detail > .class-detail-info > .class-info > .booking-item-avatar , .booking-item-avatar{
    height: 100%;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class-detail > .class-detail-info > .class-info > .booking-item-avatar > img , .booking-item-avatar > img{
    height: 80%;
    border-radius: 50%;
    border: 3px solid rgba(208, 214, 219, 0.5);
    margin-bottom: 5px;
}

.class-detail > .class-detail-info > .class-info > .booking-item-avatar > i, .booking-item-avatar > i{
    margin: 0 !important;
}

.class-detail > .class-detail-info > .class-info > .booking-item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.class-detail > .class-detail-info > .class-info > .booking-item-info > p {
    text-align: left;
}

.class-detail > .class-detail-info > .class-info > .booking-item-status {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: .8em;
}

.class-detail > .class-detail-practice > .class-detail-notice {
    flex-shrink: 0;
    letter-spacing: 1px;
}

.class-detail > .class-detail-practice > .class-detail-practice-content {
    flex-shrink: 0;
    margin: 2em 0;
}

.class-detail-button {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.class-detail-button > div {
    width: 100%;
}

.class-detail-button button {
    border-radius: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, rgb(251, 218, 97), rgb(246, 180, 12));
    letter-spacing: 2px;
    color: #fff;
}

.class-detail-practice-content > div {
    display: flex;
    height: 4em;
}

.class-detail-practice-content > div > div.advisor-avatar, .class-detail-practice-content > div > div.student-avatar {
    width: 4em;
    height: 4em;
    flex: none;
}

.class-detail-practice-content > div > div.advisor-word {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em;
}

.class-detail-practice-content > div > div.student-word {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
}

.class-detail-practice-content img {
    width: 100%;
    height: 100%;
}

.class-detail-practice-content > .practise-advisor {
    justify-content: flex-start;
    margin-bottom: 2em;
}

.class-detail-practice-content > .practise-student {
    justify-content: flex-end;
}

.class-detail-practice .segment{
    padding: 0 1em !important;
    margin: 0 !important;
}