.class-detail-foreign-list{
    flex: 1 0 auto;
    overflow: auto;
}

.class-detail-foreign-list > .foreign-evaluation-title{
    text-align: center;
    letter-spacing: 2px;
    margin: 1em 0;
}

.class-detail-foreign-list > .chinese-student-evaluation-list{
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a{
    height: 8em;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    box-shadow: 0 0 2px #ccc !important;
    align-items: center;
    padding: 0 2em;
    color: #000;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a > div.evaluation-avatar{
    height: 60%;
    flex: 0 0 auto;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a > div.evaluation-content-show{
    flex: 1 0 auto;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1em;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a > div.evaluation-content-show > .evaluation-result{
    display: flex;
    align-items: center;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a > div.evaluation-content-show > .evaluation-result > p{
    flex: 0 0 auto;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a > div.evaluation-content-show > .evaluation-result > .result-stars{
    display: flex;
    justify-content: space-around;
    flex: 1 0 auto;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a > div.evaluation-content-show > .evaluation-result > .result-stars>img{
    height: 1.5em;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a > div.evaluation-content-show > .evaluation-result > .result-stars>p{
    width: 100%;
    padding-left: 10px;
}

.class-detail-foreign-list > .chinese-student-evaluation-list > a > div.evaluation-avatar > img{
    height: 100%;
    border-radius: 50%;
}