.account-info{
  .title{
    margin: 20px 0 30px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    height: 24px;
    line-height: 24px;
  }
  .picture-show{
    max-width: 600px;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
}