.zoom-download .zoom-header {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  display: flex;
  align-items: center; }
  .zoom-download .zoom-header img {
    height: 50%; }

.zoom-download .zoom-title {
  background-color: #A0E1FF;
  border-bottom: 1px solid #6EC8F0;
  padding: 50px 0 50px 15px;
  width: 100%;
  font-size: 32px;
  color: #000; }

.zoom-download .modal-download {
  font-size: 14px;
  color: #666;
  padding: 30px 15px 0 15px; }
