.wechat-login{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.wechat-login > div{

}

.wechat-login > .login-wechat-img{
    position: relative;
    margin: 0 -1em;
    height: 40%;
}

.wechat-login > .login-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.wechat-login > .login-logo > img{
    width: 40%;
}

.wechat-login > .login-wechat-img > img{
    width: 100%;
    display: inline-block;
}

.wechat-login > .login-wechat-img > .img-introduction{
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: 0;
    left: 0;
    background-color: #f7b52a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wechat-login > .login-wechat-img > .img-introduction > p{
    padding: 0 1em;
    color: white;
    font-size: 1.2em;
}

.wechat-login > .login-wechat-btn{
    height: 25%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wechat-login > .login-wechat-btn .field{
    box-shadow: 0 0 2px #333;
    border-radius: 2.5em;
}

.wechat-login > .login-attention{
    height: 15%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wechat-login > .login-attention > p{
    text-align: center;
}

.wechat-login > .login-wechat-btn .field button{
    width: 100%;
    color: rgba(0,0,0,.6);
    background-color: #fff;
    height: 5em;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 2.5em;
}