.placement-record{
  .img-content{
    width: 100%;
    .img{
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      max-width: 600px;
      display: block;
      margin: 0 auto;
    }
    .content-description{
      font-size: 13px;
      color: #666;
      margin: 10px 0 20px 0;
      p{
        margin-bottom: 5px;
      }
    }
    .record-again-loading{
      position: fixed;
      background: rgba(255, 255, 255, .8);
      z-index: 500;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.08);
      justify-content: space-around;
      align-items: center;
    }
    .timeShow{
      align-self: center;
      margin: 0 15px;
      font-size: 15px;
      color: #000;
      font-weight: 300;
    }
  }
}