.placement-record .img-content {
  width: 100%; }
  .placement-record .img-content .img {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto; }
  .placement-record .img-content .content-description {
    font-size: 13px;
    color: #666;
    margin: 10px 0 20px 0; }
    .placement-record .img-content .content-description p {
      margin-bottom: 5px; }
  .placement-record .img-content .record-again-loading {
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    z-index: 22;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 82px;
    display: flex;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.08);
    justify-content: space-around;
    align-items: center; }
