.mobile-country{
  height: 50px !important;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  .show-value{
    min-width: 120px;
    padding-left: 15px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    background: white;
    border: 1px solid #dfdfe4;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
  }
  .pop-mobile-country{
    position: fixed;
    z-index: 500;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
    .grey{
        height: 100px;
        background: rgba(0, 0, 0, .3);
    }
    .select-model{
        height: calc(100% - 100px);
        background: white;
        width: 100%;
        padding: 20px 21px;
        .mobile-info{
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            .title{
                font-size: 18px;
                font-weight: 600;
                color: #000;
                position: relative;
                z-index: 2;
                .shadow{
                     position: absolute;
                     height: 100%;
                     width: calc(100% + 21px);
                     left: -21px;
                     top: 0;
                     background: #f4f5f9;
                     z-index: -1;
                   }
            }
            .btn{
                        button{
                           width: 70px;
                           height: 30px;
                           line-height: 30px;
                           border-radius: 5px;
                           background: #ffd200;
                           font-size: 14px;
                           color: white;
                           border: none;
                           outline: none;
                        }
                    }
        }
        .mobile-list{
            height: calc(100% - 40px);
            width: 100%;
            overflow: auto;
            .item{
                height: 30px;
                line-height: 30px;
                padding: 0 14px;
                font-size: 14px;
                color: #666;
                background: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                div{
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  display: inline-block;
                  max-width: 80%;
                }
            }
            .active{
                color: white;
                background: #ffd200;
            }
        }
    }
  }
}