.class-partners {
  background-color: white;
  margin-top: 5px;
  padding: 10px 0 0 0; }
  .class-partners .class-partners-avatar {
    height: 55px;
    padding-top: 15px;
    width: 100%;
    padding-left: 24px; }
    .class-partners .class-partners-avatar a {
      height: 40px;
      margin-right: 12px;
      overflow: hidden; }
      .class-partners .class-partners-avatar a img {
        height: 40px;
        width: 40px;
        border-radius: 50%; }
  .class-partners .s-title {
    position: relative;
    background-color: white;
    padding-left: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0;
    z-index: 5;
    color: #222; }
  .class-partners .s-title:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 80px;
    z-index: -9;
    left: 0;
    top: 0;
    background: #f4f5f9; }
