.user-page{
    height: 100%;
    margin: 0 -1em;
    display: flex;
    flex-direction: column;
}

.header-with-go-back{
    height: 70px;
    margin: 0;
    padding: 20px 0 0 0;
    z-index: 999;
    border-bottom: 1px solid #ccc;
    position: relative;
    box-sizing: border-box;
    background-color: white;
}

.logo-without-back{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo-without-back img{
    width: 100%;
    max-height: 40px;
}

.user-content{
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: rgb(244,245,249);
}

.user-my{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.user-my > .user-avatar{
    width: 6em;
    margin: 1.5em auto;
    height: 6em;
}

.user-my > .user-avatar > img{
    width: 100%;
}

.user-my > .user-info > p{
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}

.user-my > .user-info > p.name{
    font-size: 1.2em;
    color: rgb(247, 181, 42);
}


.user-my > .user-info > p.nationality{
    margin: .5em 0 1.5em 0;
}

