$grey-background: rgb(244, 245, 249);

.user-page{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-content{
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: $grey-background;
}

.user-my{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 0 0 auto;
    min-height: 227px;
    justify-content: center;
    position: relative;

    .edit-img{
        position: absolute;
        top: 25px;
        right: 25px;
        width: 20px;
        z-index: 20;
        cursor: pointer;

        img{
            width: 100%;
        }
    }
}

.user-my > .user-avatar{
    width: 6em;
    margin: 1.5em auto;
    height: 6em;
}

.user-my > .user-avatar > img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgba(208, 214, 219, .5);
    overflow: hidden;
    cursor: pointer;
}

.user-my > .user-info > p{
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}

.user-my > .user-info > p.name{
    font-size: 20px;
    color: rgb(247, 181, 42);
}


.user-my > .user-info > p.nationality{
    font-size: 15px;
    margin: .5em 0 1.5em 0;
}

.user-menu{
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: 52px;
    margin-top: .5em;
    display: flex;
    padding-left: 12px;
    background-color: white;
}

.user-menu >a{
    height: 50px;
    width: 100%;
    background-color: white;
    padding:0 9px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    position: relative;
}

.user-menu >a.after-line:after{
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-menu > a >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}


.user-menu > a > div{
    display: flex;
    height: 50%;
}

.user-menu > a >div.link{
    color: rgb(102, 102, 102);
}

.user-menu > a >div.icon > img{
    height: 24px;
}

.user-menu > a >div.icon > .name{
    margin: 0 15px;
}

.user-menu > a >div.link >  .right-icon{
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
}

.link > .class-numbers{
    color: #666;
}

.user-menu > a > div.icon > img{
    height: 100%;
}
