.placement-first, .placement-second, .placement-third,  .placement-fourth {
    min-height: 15em;
}

.first-question{
    height: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0 1em 0;
}

.first-question>div, .first-question>div>img{
    height: 100%;
}

.first-answer>.answer-item{
    width: 100%;
    height: 4em;
    border-radius: 1em;
    border: 1px solid #aaa;
    margin: 1em 0;
    position: relative;
    display: flex;
}

.answer-title{
    margin: 0 auto 1.5em auto;
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 1.2em;
}

.answer-item > div.item-value, .answer-item > div.item-content{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
}

.answer-item > div.item-content{
    width: 80%;
}

.answer-item > .item-value{
    width: 20%;
    padding-left: 2em;
    font-size: 1.2em;
}

.click-event{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
}

.second-title{
    box-sizing: border-box;
    margin: 1em -1em;
    border-left: .5em solid #f7b52a;
}

.second-title>p{
    padding: 0 1em;
    font-size: 1.2em;
}

.placement-second > .first-question{
    margin: 1em 0;
}

.answering-audio{
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.answering-audio>div>img, .answering-audio>div{
    height: 100%;
}

.first-title{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1em;
    margin: 0 1em;
}

.placement-second .first-title{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1em;
    margin: 0 1em;
    background: url('//resource.buzzbuzzenglish.com/image/buzz-corner/audio_talk.png') top center no-repeat;
    background-size: 100% 100%;
    padding: 1em 2em;
    height: 80% !important;
    position: relative;
}

.first-title-answer{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1em;
    margin: 0 1em;
    padding: 1em 2em;
    height: 80% !important;
    position: relative;
}

.first-title-answer > .background-talk{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    z-index: -1;
}

.first-title-answer > .background-talk > img{
    height: 100%;
    width: 100%;
}

.first-title-answer > p{
    margin:0 1em;
}

.first-title > p{
    margin-right: 1em;
}

.transform-img{
    transform: scaleX(-1);;
}

.recordAgain{
    position: relative;
    margin-top: .5em;
}

.first-title-answer input#audio-answer, .recordAgain input#audio-answer-again{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0;
}

.first-title-answer  > .hasRecorded{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
}

.placement-audio-record-again{
    text-align: right;
    padding-right: 6em;
    margin-top: .5em;
    font-size: .8em;
    color: #aaa;
}

#playAnswerAudio, #playQuestionAudio{
    opacity: 0;
    width: 0;
    height: 0;
}