*{
    padding: 0;
    margin: 0;
}

.ui.container{
    margin: 0 !important;
    padding: 0 1em;
}

.my-profile{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-profile>a{
    width: 100%;
    margin-bottom: 1em !important;
}

.profile-title{
    text-align: center;
    margin: 1em 0 !important;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
}



/* .check-number{
    display: none !important;
} */

.check-number, .phone-number{
    width: 100%;
    height: 50px;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}

.check-number>.ui.button[disabled]{
    color: rgb(255, 255, 255);
    background-color: rgb(223, 223, 228) !important;
}
.check-number>.ui.button{
    width: 35%;
    font-weight: normal !important;
    letter-spacing: 1px;
    margin: 0 !important;
    background-image: linear-gradient(143deg, #fad961, #f5b40c);
    color: #ffffff;
}

.check-number>input, .check-number>button, .phone-number>input, .phone-number>button, .parents-name>input{
    height: 50px;
    letter-spacing: 1px;
    border: none !important;
    background-color: rgb(244, 245, 249)!important;
    color: rgba(0,0,0,.6);
}

.parents-name>input{
    padding-left: 1.5em !important;
}

.phone-number>button{
    width: 35%;
    font-weight: normal !important;
    letter-spacing: 1px;
    text-align: left !important;
}

.gender{
    display: flex;
    justify-content: space-around;
}

.gender > div{
    display: flex;
    height: 5em;
    align-items: center;
}

.gender > div > .avatar{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 0 1em;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gender > div > .avatar > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.gender > div > .active{
    border: 1px solid #f7b52a !important;
}

input[name='date_of_birth']{
    height: 50px;
    background-color: #eee !important;
    border: none !important;
    text-align: left !important;
}

input[name='birthdayLabel']{
    height: 50px;
    background-color: rgb(244, 245, 249) !important;
    border: none !important;
    text-align: left !important;
}

.form-content .birthday-label{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.parents-name>input, .phone-number>input{
    border: 1px solid transparent !important;
}

.parents-name>input:focus{
    border: 1px solid #f7b52a !important;
    background-color: white !important;
}

.phone-number>input:focus{
    border: 1px solid #f7b52a !important;
    background-color: white !important;
}

.topic>.topic-items>div{
    position: relative;
    display: flex;
    height: 2.5em;
    align-items: center;
    border-radius: 1.5em;
    margin-right: 1em;
    margin-bottom: .5em;
    padding: .2em;
    background-color: rgba(6, 125, 241, .2);
}

.topic>.topic-items>div > div{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.topic>.topic-items>div > p{
    margin: 0 1em 0 .5em;
}

.topic>.topic-items>div > div > img{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.topic>.topic-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 1em 0;
}

.topic>.topic-items>div>a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    border-radius: 1.8em;
    border: 1px solid transparent;
}

h4{
    font-weight: normal;
    text-align: center;
}

.topic>p{
    letter-spacing: 2px;
}

.profile-body{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.profile-body > .fields{
    flex: auto;
}

.profile-body > .fields > .field{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.profile-body>div.form-content{
    /*min-height: 15em;*/
}

.profile-done-img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.skip{
    margin: -1em auto 0 auto;
    width: 100%;
    text-align: center;
    color: #999;
}

.agreement{
    margin: 0 auto;
    width: 80%;
}

.agreement > img{
    height: 18px;
    margin-right: 5px;
    vertical-align: bottom;
}

.agreement > span{
    font-size: 12px;
    color: #666;
}

.disabled{
    opacity: 1 !important;
}

.position-relative{
    position: relative !important;
}

div.dropdown{
    width: 100%;
    height: 50px;
    background: rgb(244, 245, 249) !important;
    border: 1px solid transparent !important;
    margin-bottom: .5em;
}

div.dropdown > div.text, div.dropdown > i{
    line-height: 2em !important;
}

div.dropdown > i{
    opacity: 0 !important;
}

div.dropdown > input.search{
    height: 50px;
    line-height: 2em;
}

.ui.search.dropdown>.text{
    left: 5px !important;
}