*{
    padding: 0;
    margin: 0;
}

.ui.container{
    margin: 0 !important;
    padding: 0 1em;
}

.my-profile{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-profile>a{
    width: 100%;
    margin-bottom: 1em !important;
}

.profile-title{
    text-align: center;
    margin: 1em 0 !important;
    font-weight: normal;
    letter-spacing: 1px;
}

.profile-progress{
    width: 100%;
    box-sizing: border-box;
    margin-top: 1em;
    flex-shrink: 0;
    display: flex;
    position: relative;
}

.profile-progress>div{
    flex: 0 0 auto;
    box-sizing: border-box;
    margin-top: 1em;
    width: 25%;
    position: relative;
}

.profile-progress>div>div.dot{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 2px;
    background-color: #aaa;
}

.dot>div.line-left{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background-color: #aaa;
}

.dot>div.line-left-last{
    width: 100%;
}

.done>.dot{
    background-color: #f7b52a !important;
}

.active>.dot>.line-left,.done>.dot>.line-left{
    background-color: #f7b52a;
}

.done>p,.active>p{
    color: #f7b52a;
}

.active>.dot>.circle{
    position: absolute;
    top: -9px;
    left: calc(50% - 10px);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #f7b52a;
    background-color: white;
}

.done>.dot>.circle{
    background-color: #f7b52a !important;
}

.dot>div.circle{
    position: absolute;
    top: -2px;
    left: calc(50% - 3px);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #aaa;
    z-index: 99;
}

/* .check-number{
    display: none !important;
} */

.check-number, .phone-number{
    width: 100%;
    height: 4em;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}

.check-number>.ui.button[disabled]{
    color: rgb(255, 255, 255);
    background-color: rgb(223, 223, 228) !important;
}
.check-number>.ui.button{
    width: 35%;
    font-weight: normal !important;
    letter-spacing: 1px;
    margin: 0 !important;
    background-image: linear-gradient(143deg, #fad961, #f5b40c);
    color: #ffffff;
}

.check-number>input, .check-number>button, .phone-number>input, .phone-number>button, .parents-name>input{
    height: 4em;
    letter-spacing: 1px;
    border: none !important;
    background-color: rgb(244, 245, 249)!important;
    color: rgba(0,0,0,.6);
}

.parents-name>input{
    padding-left: 1.5em !important;
}

.phone-number>button{
    width: 35%;
    font-weight: normal !important;
    letter-spacing: 1px;
    text-align: left !important;
}

.gender{
    display: flex;
    justify-content: space-around;
}

.gender > div{
    display: flex;
    height: 5em;
    align-items: center;
}

.gender > div > .avatar{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 0 1em;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gender > div > .avatar > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.gender > div > .active{
    border: 1px solid #f7b52a !important;
}

input[name='date_of_birth']{
    height: 4em;
    background-color: #eee !important;
    border: none !important;
    text-align: left !important;
}

input[name='birthdayLabel']{
    height: 4em;
    background-color: rgb(244, 245, 249) !important;
    border: none !important;
    text-align: left !important;
}

.form-content .birthday-label{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.parents-name>input, .phone-number>input{
    border: 1px solid transparent !important;
}

.parents-name>input:focus{
    border: 1px solid #f7b52a !important;
    background-color: white !important;
}

.phone-number>input:focus{
    border: 1px solid #f7b52a !important;
    background-color: white !important;
}

.profile-progress>div>p{
    padding-top: 2em;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
}

.topic>.topic-items>div{
    position: relative;
    display: flex;
    height: 2.5em;
    align-items: center;
    border-radius: 1.5em;
    margin-right: 1em;
    margin-bottom: .5em;
    padding: .2em;
    background-color: rgba(6, 125, 241, .2);
}

.topic>.topic-items>div > div{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.topic>.topic-items>div > p{
    margin: 0 1em 0 .5em;
}

.topic>.topic-items>div > div > img{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.topic>.topic-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 1em 0;
}

.topic>.topic-items>div>a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    border-radius: 1.8em;
    border: 1px solid transparent;
}

h4{
    font-weight: normal;
    text-align: center;
}

.topic>p{
    letter-spacing: 2px;
}

.profile-body{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.profile-body > .fields{
    flex: auto;
}

.profile-body > .fields > .field{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.profile-body>div.form-content{
    /*min-height: 15em;*/
}

.profile-done-img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.skip{
    margin: -1em auto 0 auto;
    width: 100%;
    text-align: center;
    color: #999;
}

.my-profile > .header-with-go-back{
    height: 50px;
    margin: 0 -1em 0 -1em;
    padding: 0 0 0 0;
    z-index: 999;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px 2px #eee;
}

.go-back{
    position: absolute;
    margin: 0;
    width: 20%;
    height: 50px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.go-back > div{
    display: inline-block;
    background-color: #eee;
}

.go-back>div.arrow-left{
    width: 20%;
    height: 30px;
}

.go-back>div.circle-border{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    align-items: center;
}

.go-back>div.circle-border>img{
    height: 40%;
}

.logo:nth-child(2) {
    width: 20%;
    height: 100%;
    margin: 0 auto;
}

.logo>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 40px;
}

.agreement{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agreement > img{
    height: 18px;
    margin-right: 5px;
}

.agreement > span{
    font-size: .8em;
}

.disabled{
    opacity: 1 !important;
}

.position-relative{
    position: relative !important;
}

div.dropdown{
    width: 100%;
    height: 4em;
    background: rgb(244, 245, 249) !important;
    border: 1px solid transparent !important;
    margin-bottom: .5em;
}

div.dropdown > div.text, div.dropdown > i{
    line-height: 2em !important;
}

div.dropdown > i{
    opacity: 0 !important;
}

div.dropdown > input.search{
    height: 4em;
    line-height: 2em;
}
