*{
    padding: 0;
    margin: 0;
}

.ui.container{
    margin: 0 !important;
    padding: 0 1em;
}

.my-profile{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
}

.my-profile>a{
    width: 100%;
    margin-bottom: 1em !important;
}

.profile-title{
    text-align: center;
    margin: 30px 0 20px 0 !important;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
}

.profile-btn{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1em;
}

/* .check-number{
    display: none !important;
} */

.check-number, .phone-number{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.check-number>.ui.button[disabled]{
    color: rgb(255, 255, 255);
    background-color: rgb(223, 223, 228) !important;
}
.check-number>.ui.button{
    width: 38%;
    font-weight: normal !important;
    letter-spacing: 1px;
    margin: 0 !important;
    background-image: linear-gradient(143deg, #fad961, #f5b40c);
    color: #ffffff;
}

.parents-name{
    margin-bottom: 10px;
}

.parents-name>input{
    padding-left: 1.5em !important;
}

.phone-number>button{
    width: 38%;
    margin-right: 0;
    padding: 15px !important;
    font-weight: normal !important;
    letter-spacing: 1px;
    text-align: left !important;
    background-color: rgb(244, 245, 249)!important;
    color: #000 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 15px !important;
}

.gender{
    display: flex;
    justify-content: space-around;
}

.gender > div{
    display: flex;
    height: 5em;
    align-items: center;
}

.gender > div > .avatar{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0 1em;
    border: 1px solid #dfdfe4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gender > div > .avatar > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.gender > div > .active{
    border: 1px solid #f7b52a !important;
}

input[name='date_of_birth']{
    height: 50px;
    background-color: #eee !important;
    border: none !important;
    text-align: left !important;
}

input[name='birthdayLabel']{
    height: 50px;
    background-color: rgb(244, 245, 249) !important;
    border: none !important;
    text-align: left !important;
}

.form-content .birthday-label{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.parents-name>input, .phone-number>input{
    border: 1px solid transparent !important;
}

.parents-name>input:focus{
    border: 1px solid #f7b52a !important;
    background-color: white !important;
}

.phone-number>input:focus{
    border: 1px solid #f7b52a !important;
    background-color: white !important;
}

h4{
    font-weight: normal;
    text-align: center;
}

.topic>p{
    letter-spacing: 2px;
    color: #666;
}

.profile-body{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 21px;
}

.profile-body > .fields{
    flex: auto;
}

.profile-body > .fields > .field{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.profile-done-img{
    width: 50%;
    margin: 30px auto 0 auto;
    display: block;
    max-width: 200px;
}

.skip{
    margin-top: 10px;
    font-size: 10px;
    width: 100%;
    text-align: center;
    color: #666;
}

.agreement{
    margin: 6px auto 0 auto;
    width: 80%;
    text-align: center;
}

.agreement > img{
    height: 18px;
    margin-right: 5px;
    vertical-align: bottom;
}

.agreement > span{
    font-size: 12px;
    color: #666;
}

.disabled{
    opacity: 1 !important;
}

.position-relative{
    position: relative !important;
}

div.dropdown{
    width: 100%;
    height: 50px;
    background: rgb(244, 245, 249) !important;
    border: 1px solid transparent !important;
    margin-bottom: .5em;
}

div.dropdown > div.text, div.dropdown > i{
    line-height: 2em !important;
}

div.dropdown > i{
    opacity: 0 !important;
}

div.dropdown > input.search{
    height: 50px;
    line-height: 2em;
}

.ui.input >input{
    background: rgb(244, 245, 249) !important;
}

input{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}