.my-home{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

p{
    margin: 0;
}

.my-home > .home-header{
    width: 100%;
    height: 44px;
    display: flex;
    position: relative;
    z-index: 999;
    flex: 0 0 auto;
}

.my-home > .home-header:after{
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.my-home > .home-header > div.tab-booking, .my-home > .home-header > div.tab-message{
    width: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.my-home > .home-header > div.tab-booking, .my-home > .home-header > div.tab-booking{
    padding-right: 0;
}

.my-home > .home-header > div.tab-booking > .tab-active, .my-home > .home-header > div.tab-message > .tab-active{
    position: absolute;
    width: 40%;
    bottom: 1px;
    left: 30%;
}

.my-home > .home-header > .consult{
    position: relative;
    cursor: pointer;
    height: 100%;
    padding: 6px 0 6px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #000;
}

.my-home > .home-content{
    width: 100%;
    background-color: rgb(244,245,249);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.my-home .pull-status{
    background: white;
    color: #666;
    text-align: center;
    line-height: 40px;
    width: 100%;
    left: 0;
    top: 50px;
    position: absolute;
}

.my-home > .home-content > .items, .my-home > .home-content > .none-items{
    flex: 1 0 auto;
    width: 100%;
}

.my-home > .home-content > .items, .my-home > .home-content > .none-items > .no-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-home > .home-content > .none-items > .no-items > img{
    width: 50%;
    max-width: 200px;
    margin-bottom: 1em;
}

.my-home > .home-content > .items{
    width: 100%;
    margin-bottom: 1em;
}

.my-home > .home-content > .items, .my-home > .home-content > .none-items > .no-items  > p{
    margin: 0;
    color: rgb(102, 102, 102);
    padding: 0 1em;
}

.my-home > .home-content > .items{
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: flex-start;
    overflow: auto;
}

.my-home > .home-content > .items > .booking-item{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    height: 10em;
    border-radius: 5px;
    background-color: white;
    flex: none;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.my-home > .home-content > .items > .booking-item > .booking-item-avatar{
    height: 80%;
    margin-right: 2em;
}

.my-home > .home-content > .items > .booking-item > .booking-item-avatar > img{
    height: 100%;
    border-radius: 50%;
}

.my-home > .home-content > .items > .booking-item > .booking-item-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.my-home > .home-content > .items > .booking-item > .booking-item-info > p{
    text-align: left;
    flex: 1;
}

.my-home > .home-content > .items > .booking-item > .booking-item-status{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: .8em;
}

.my-home > .home-content > .items > .booking-item > .status-active{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.items, .my-home > .home-content > .none-items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items, .my-home > .home-content > .none-items  p{
    text-align: center;
    margin-bottom: .5em;
}

.my-home >  .booking-btn{
    height: 90px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 52px;
    z-index: 100;
}

.my-home >  .booking-btn >div{
    width: 100%;
    padding: 0 21px;
}

.my-home > .booking-btn button{
    border-radius: 25px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    background-color: rgb(106, 225, 8);
    letter-spacing: 0;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    padding: 0;
}

.my-home > .home-content > .message-tab{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.my-home > .home-content > .message-content{
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-home > .home-content > .message-content > div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-home > .home-content > .message-content > div.has-items{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-home > .home-content > .message-content > div.has-items > a{
    display: flex;
    margin: 1em;
    height: 8em;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 2px #aaa !important;
    position: relative;
}

.my-home > .home-content > .message-tab > div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
}

.my-home > .home-content > .message-tab > div.first:after{
    /*border-right: 1px solid #dfdfe4;*/
    content: '';
    position: absolute;
    height: 200%;
    width: 1px;
    top: 0;
    right: 0;
    z-index: 3;
    border-right: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.my-home > .home-content > .message-tab > div.active{
    color: #f7b52a;
}

.my-home > .offset-footer{
    width: 100%;
    flex: 0 0 auto;
    background-color: rgb(244, 245, 249);
}

.my-home > .home-content > .message-items{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.message-body > .message-title{
    font-weight: bold;
    font-size: 15px;
    color: #000;
    margin-bottom: .5em;
    letter-spacing: 0;
    width: 100%;
}

.message-body > .message-content{
    font-size: .8em;
    color: #666;
    width: 100%;
}

.message-red-circle{
    position: absolute;
    background-color: #fc4e52;
    border: 1px solid rgba(252, 78, 82, 0.1);
    border-radius: 50%;
    top: .5em;
    right: 2em;
    height: 10px;
    width: 10px;
    z-index: 60;
}

.message-red-circle-spe{
    background-color: #fc4e52;
    border: 1px solid rgba(252, 78, 82, 0.1);
    border-radius: 50%;
    position: relative;
    top: -10px;
    height: 10px;
    width: 10px;
    z-index: 60;
}

.message-red-new{
    position: absolute;
    right: 0;
    top: -5px;
    height: 17px;
    width: 25px;
    z-index: 60;
}

.message-red-new > img{
    width: 100%;
}

#booking-btn.ui.button:hover{
    color: white;
    background-color: rgb(106, 225, 8);
}
