.pop-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9991;
  background-color: rgba(0, 0, 0, .3);
  .pop-content{
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px;
    .att-img{
      height: 50px;
      width: 50px;
      margin: 0 auto;
      img{
        width: 100%;
      }
    }
    .attention{
      font-size: 21px;
      line-height: 28px;
      font-weight: 600;
      text-align: center;
      margin: 15px 0 10px 0;
    }
    .attention-info{
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0;
      color: #666;
      margin-bottom: 25px;
      text-align: center;
    }
    .chose-buttons{
      display: flex;
      justify-content: space-between;
      div{
        width: calc((100% - 25px)/2);
        font-size: 15px !important;
      }
    }
  }
}