.pop-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9991;
  background-color: rgba(0, 0, 0, 0.3); }
  .pop-modal .pop-content {
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    background-color: white;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px; }
    .pop-modal .pop-content .attention {
      font-size: 21px;
      font-weight: 600;
      text-align: center; }
    .pop-modal .pop-content .attention-info {
      font-size: 17px;
      line-height: 21px;
      letter-spacing: 0;
      color: #666;
      margin: 20px auto 25px auto;
      text-align: center; }
    .pop-modal .pop-content .chose-buttons p {
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: #666;
      margin-top: 15px; }
