.account-login{
  display: flex;
  flex-direction: column;
  position: relative;
  .set-word{
    flex: 1 0 auto;
    padding: 32px 21px;
    display: flex;
    flex-direction: column;
    position: relative;
    .user-count, .user-password{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      margin-bottom: 20px;
      p{
        text-align: left;
        font-size: 14px;
        color: #666;
        height: 20px;
        line-height: 20px;
        width: 100%;
        padding-left: 15px;
      }
      img{
        width: 24px;
        height: 24px;
        margin-right: 15px;
      }
      div{
        margin-bottom: 0 !important;
      }
    }
    .update-btn{
      margin-top: 50px;
    }
    .forgotten{
      text-align: center;
      margin: 15px auto;
      font-size: 11px;
      font-weight: 300;
      color: #666;
    }
    .flex-end{
      text-align: center;
      margin:18px auto;
      font-size: 11px;
      font-weight: 300;
      color: #666;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}