.login-in{
  display: flex;
  flex-direction: column;
}

.login-in > .login-intro{
  flex: 1 0 auto;
  position: relative;
  padding: 21px;
}

.login-in > .login-intro > .intro-content{
  position: absolute;
  bottom: 21px;
  right: 21px;
}

.login-in > .login-intro > .intro-content .title{
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  line-height: 21px;
  margin-bottom: 10px;
}

.login-in > .login-intro > .intro-content .content p{
  font-size: 13px;
  line-height: 21px;
  color: #666;
  text-align: right;
}

.login-in > .login-tab{
  flex: 0 0 auto;
  height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.login-in > .login-tab > div.login-others, .login-in > .login-tab > div.login-account{
  flex: 1 1 auto;
  line-height: 60px;
  text-align: center;
  height: 60px;
  font-size: 15px;
  font-weight: 500;
  color: #d0d6db;
  background-color: white;
  position: relative;
}

.login-in > .login-tab > div.login-others:after{
  content: '';
  position: absolute;
  height: 66%;
  width: 1px;
  top: 33%;
  right: 0;
  z-index: 3;
  border-right: 1px solid  #dfdfe4;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.5,.5);
  transform: scale(.5,.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-in > .login-tab > div.active{
  color: #ffb117 !important;
}

.login-in > .login-tab > .status{
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #f4f5f9;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.login-in > .login-form{
  flex: 0 0 auto;
  background: #f4f5f9;
  padding: 20px 21px 50px 21px;
  min-height: 290px;
}

.login-in > .login-form > div.btn{
  width: 100%;
  margin: 15px 0;
}

.login-in > .login-form > div.toggle-login{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-in > .login-form > div.toggle-login > .line{
  position: relative;
  width: 80px;
  height: 0;
}

.login-in > .login-form > div.toggle-login > .toggle-word{
  font-size: 10px;
  line-height: 14px;
  color: #868686;
  text-decoration: underline;
  cursor: pointer;
}

.login-in > .login-form > div.toggle-login > .line:after{
  content: '';
  position: absolute;
  width: 200%;
  height: 1px;
  z-index: 2;
  bottom: 0;
  border-bottom: 1px solid  #dfdfe4;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.5,.5);
  transform: scale(.5,.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-in > .login-form > div > .phone-number .buzz-input  input, .login-in > .login-form > div > .phone-number .ui.dropdown, .login-in > .login-form > div > .check-number .buzz-input  input{
  background: white !important;
  border: 1px solid #dfdfe4 !important;
  border-radius: 10px !important;
  color: #000 !important;
}

.login-in > .login-form > div > .phone-number .buzz-input input:focus, .login-in > .login-form > div > .check-number .buzz-input input:focus{
  border: 1px solid #ffb117 !important;
}

.login-in > .login-form > div > .phone-number .buzz-input input[placeholder], .login-in > .login-form > div > .check-number .buzz-input input[placeholder]{
  color: #666;
}

.login-in > .login-form > div > .phone-number > .dropdown > span{
  color: #666;
}

.login-in > .login-form > div > .check-number>.ui.button {
  border-radius: 10px !important;
}

.login-in > .login-form > .third-login {
  margin: 20px 0 5px 0;
  width: 100%;
}

.login-in > .login-form > .third-login > div{
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: #fff;
  border-radius: 10px;
  position: relative;
}

.login-in > .login-form > .third-login > div > img{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 14px;
  left: 20px;
}

.login-in > .login-form > .third-login > div.face-book{
  background-color: #3d70da;
  box-shadow: 0 1px 4px 0 rgba(61, 112, 218, 0.4);
}

.login-in > .login-form > .third-login > div.we-chat{
  background-color: #43e300;
  box-shadow: 0 1px 4px 0 rgba(67, 227, 0, 0.4);
}

.login-in > .login-form > .login-password{
  height: 50px;
  width: 100%;
  position: relative;
}

.login-in > .login-form > .login-password > .eye{
  height: 100%;
  position: absolute;
  right: 15px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-in > .login-form > .login-password > .eye > img{
  width: 20px;
}

.login-in > .login-form > .login-password > input{
  background: white !important;
  border: 1px solid #dfdfe4 !important;
  border-radius: 10px !important;
  position: relative;
  height: 100%;
  width: 100% !important;
  padding: 15px 40px 15px 15px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 30px !important;
  text-align: left;
  letter-spacing: 1px !important;
  outline: none !important;
  color: #000 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.login-in > .login-form > .login-password > input:focus{
  border: 1px solid #ffb117 !important;
  background-color: white !important;
}

.login-in > .login-form > .login-password > input[placeholder]{
  color: #666;
}