.login-in-tablet {
  padding: 70px 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .login-in-tablet .login-intro {
    position: relative;
    min-width: 250px;
    min-height: 320px;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-in-tablet .login-intro img {
      width: 100%; }
    .login-in-tablet .login-intro .intro-content {
      position: absolute;
      right: 21px;
      bottom: 21px; }
      .login-in-tablet .login-intro .intro-content .title {
        font-size: 25px;
        font-weight: 600;
        text-align: right;
        line-height: 30px;
        margin-bottom: 10px; }
      .login-in-tablet .login-intro .intro-content .content p {
        font-size: 18px;
        line-height: 28px;
        color: #666;
        text-align: right; }
  .login-in-tablet .login-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    height: 450px; }
    .login-in-tablet .login-tab .tab-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100px;
      font-weight: 600;
      font-size: 24px; }
      .login-in-tablet .login-tab .tab-container .login-others {
        height: 100px;
        line-height: 100px;
        min-width: 250px;
        text-align: center;
        cursor: pointer;
        flex: 1 1 auto;
        color: #d0d6db; }
      .login-in-tablet .login-tab .tab-container .line {
        height: 30px;
        border-left: 2px solid #dfdfe4; }
      .login-in-tablet .login-tab .tab-container .active {
        color: #ffb117; }
    .login-in-tablet .login-tab .tab-container:after {
      content: '';
      position: absolute;
      width: 200%;
      height: 1px;
      z-index: 20;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid  #dfdfe4;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .login-in-tablet .login-tab .login-form {
      padding: 30px;
      width: 100%; }
      .login-in-tablet .login-tab .login-form .third-login .face-book, .login-in-tablet .login-tab .login-form .third-login .we-chat {
        height: 60px;
        font-size: 21px;
        margin: 10px 0;
        cursor: pointer; }
        .login-in-tablet .login-tab .login-form .third-login .face-book img, .login-in-tablet .login-tab .login-form .third-login .we-chat img {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 15px;
          left: 30px; }
      .login-in-tablet .login-tab .login-form .third-login .we-chat {
        background-color: #43e300;
        box-shadow: 0 1px 4px 0 rgba(67, 227, 0, 0.4);
        margin: 10px 0; }
      .login-in-tablet .login-tab .login-form .third-login .agreement {
        margin: 25px auto 0 auto;
        text-align: center; }
        .login-in-tablet .login-tab .login-form .third-login .agreement img {
          height: 18px;
          margin-right: 5px;
          vertical-align: bottom; }
        .login-in-tablet .login-tab .login-form .third-login .agreement span {
          font-size: 12px;
          color: #666; }
      .login-in-tablet .login-tab .login-form .third-login .facebook-status {
        margin: 10px 0;
        height: 0;
        padding-left: 14px;
        font-size: 15px;
        line-height: 32px;
        color: #fc4e52;
        overflow: hidden; }
      .login-in-tablet .login-tab .login-form .phone-number {
        margin: 20px 0; }
        .login-in-tablet .login-tab .login-form .phone-number input {
          border: 1px solid #dfdfe4 !important;
          border-radius: 10px !important;
          color: #000 !important; }
        .login-in-tablet .login-tab .login-form .phone-number .buzz-input input {
          background: white !important; }
        .login-in-tablet .login-tab .login-form .phone-number .buzz-input input::-webkit-outer-spin-button,
        .login-in-tablet .login-tab .login-form .phone-number .buzz-input input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          appearance: none;
          margin: 0; }
        .login-in-tablet .login-tab .login-form .phone-number .buzz-input input {
          -moz-appearance: textfield; }
        .login-in-tablet .login-tab .login-form .phone-number input:focus {
          border: 1px solid #ffb117 !important;
          background-color: white !important; }
        .login-in-tablet .login-tab .login-form .phone-number input[placeholder] {
          color: #666; }
      .login-in-tablet .login-tab .login-form .btn {
        margin: 20px 0; }
      .login-in-tablet .login-tab .login-form .login-password {
        height: 50px;
        width: 100%;
        position: relative; }
        .login-in-tablet .login-tab .login-form .login-password .eye {
          height: 100%;
          position: absolute;
          right: 15px;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center; }
          .login-in-tablet .login-tab .login-form .login-password .eye img {
            width: 20px; }
        .login-in-tablet .login-tab .login-form .login-password input {
          background: white !important;
          border: 1px solid #dfdfe4 !important;
          border-radius: 10px !important;
          position: relative;
          height: 100%;
          width: 100% !important;
          padding: 15px 40px 15px 15px !important;
          font-size: 14px !important;
          font-weight: 400 !important;
          line-height: 30px !important;
          text-align: left;
          letter-spacing: 1px !important;
          outline: none !important;
          color: #000 !important;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important; }
        .login-in-tablet .login-tab .login-form .login-password input:focus {
          border: 1px solid #ffb117 !important;
          background-color: white !important; }
        .login-in-tablet .login-tab .login-form .login-password input[placeholder] {
          color: #666; }
      .login-in-tablet .login-tab .login-form .toggle-login {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px; }
        .login-in-tablet .login-tab .login-form .toggle-login .line {
          position: relative;
          width: 140px;
          height: 0; }
        .login-in-tablet .login-tab .login-form .toggle-login .toggle-word {
          font-size: 10px;
          line-height: 14px;
          color: #868686;
          text-decoration: underline;
          cursor: pointer; }
        .login-in-tablet .login-tab .login-form .toggle-login .line:after {
          content: '';
          position: absolute;
          width: 200%;
          height: 1px;
          z-index: 2;
          bottom: 0;
          border-bottom: 1px solid  #dfdfe4;
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
          -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.login-in-tablet .check-number .buzz-input input {
  background: white !important;
  border: 1px solid #dfdfe4 !important;
  border-radius: 10px !important;
  color: #000 !important; }

.login-in-tablet .check-number input:focus {
  border: 1px solid #ffb117 !important; }

.login-in-tablet .check-number input[placeholder] {
  color: #666; }

@keyframes facebook-info-show-tablet {
  from {
    height: 0; }
  to {
    height: 32px; } }

@-webkit-keyframes facebook-info-show-tablet /*Safari and Chrome*/ {
  from {
    height: 0; }
  to {
    height: 32px; } }
