.submit-button {
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> master
  padding: 0;
  position: relative; }
  .submit-button button {
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 0 0 white;
    font-size: 17px;
<<<<<<< HEAD
    color: white;
    position: relative; }
  .submit-button button.pressing:after {
    content: '';
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1); }
=======
    color: white; }
  .submit-button .press {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    z-index: 20;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0; }
>>>>>>> master
