.submit-button{
  width: 100%;
  padding: 0;
  position: relative;
  button{
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    letter-spacing: 0;
    text-shadow: 0 0 0 white;
    font-size: 17px;
    color: white;
    position: relative;
    cursor: pointer;
    background: #ffd200;
    box-shadow: 0 2px 5px 0 rgba(237, 174, 0, 0.4);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  }
  button[disabled]{
    box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.08);
    background: #dfdfe4;
  }
  button.pressing:after{
    content: '';
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .1);
  }
  .press{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    z-index: 20;
    background: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
  }
}