.modal{
    position: fixed;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .3);
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
}

.modal>.content{
    border-radius: 5px;
    width: 80%;
    height: 60%;
    background:white url('//resource.buzzbuzzenglish.com/image/buzz-corner/circles.png') top center no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal>.content > div{
    display: flex;
    flex-direction: column;
}

.modal>.content > div > div.welcome-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 2em 0 1em 0;
    letter-spacing: 2px;
}


.modal>.content > div > div.welcome-info {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 3em;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .6);
}

.modal>.content > div > div.begin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal>.content > div > div.begin > div{
    height: 4em;
    width: 80%;
    color: white;
    background: linear-gradient(to right, rgb(251, 218, 97) , rgb(246, 180, 12));
    letter-spacing: 1px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal>.content > div > div.skip{
    text-align: center;
    font-size: .8em;
    color: rgba(0, 0, 0, .6);
    margin: 1em 0;
}