.modal{
    position: fixed;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9991;
    background-color: rgba(0, 0, 0, .3);
}

.modal>.content{
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    min-height: 50%;
    background:white url('//p579tk2n2.bkt.clouddn.com/circles.png') top center no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal>.content > div{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.modal>.content > div > div.welcome-title {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
}


.modal>.content > div > div.welcome-info {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 34px;
    letter-spacing: 1px;
    color: #666;
}

.modal>.content > div > div.begin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal>.content > div > div.begin > div{
    height: 50px;
    width: 90%;
    font-size: 17px;
    color: white;
    background: linear-gradient(to right, rgb(251, 218, 97) , rgb(246, 180, 12));
    letter-spacing: 1px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal>.content > div > div.skip{
    text-align: center;
    font-size: .8em;
    color: rgba(0, 0, 0, .6);
    margin: 1em 0;
}