.login-entrance{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    background: url('//resource.buzzbuzzenglish.com/image/buzz-corner/circles.png') top left no-repeat;
    background-size: contain;
    position: relative;
    color: #000;
}

.login-entrance > .entrance-logo{
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.entrance-logo > .logo{
    width: 32%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrance-logo > .logo > img{
    height: auto !important;
    width: 100%;
    max-height: 100%;
}

.entrance-logo > .entrance-word > p{
    text-align: center;
    margin: .5em 0;
    font-size: 1.2em;
}

.login-entrance > .entrance-choose{
    min-height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2em;
}

.login-entrance > .entrance-choose > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.login-entrance > .entrance-choose > div > .image {
    width: 100px;
    flex: 1 1 auto;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.login-entrance > .entrance-choose > div > .image > img{
    width: 100%;
    border-radius: 50%;
}

.login-entrance > .entrance-choose > div > .choseBtn{
    background-image: linear-gradient(143deg, rgb(250, 217, 97), rgb(245, 180, 12));
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: white;
    border-radius: 12.5px;
    font-size: 11px;
    letter-spacing: 1px;
}

.login-entrance > .preview-video{
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 0 1em 1em 1em;
}

.login-entrance > .preview-video > .preview-video-btn{
    width: 333px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('//p579tk2n2.bkt.clouddn.com/bg_home_video.png') center center no-repeat;
    background-size: contain;
}

.login-entrance > .preview-video > .preview-video-btn > .btn-circle{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-entrance > .preview-video > .preview-video-btn > .btn-circle > img{
    height: 100%;
    z-index: 50;
}


.preview-video > p{
    margin: 1em;
}

.login-entrance > .video-show{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
}
