.select-role-tablet{
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  .page-title{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .select-role-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 0 auto;
    .item-role{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
      img{
        width: 150px;
      }
      .role-name{
        margin: 30px 0 20px 0;
        line-height: 30px;
        font-size: 24px;
        font-weight: 600;
        color: #000;
      }
      .role-intro{
        p{
          font-size: 21px;
          line-height: 28px;
          color: #666;
          padding: 0 11px;
          text-align: center;
        }
      }
    }
  }
  .btn{
    margin:0 auto 40px auto;
    width: 320px;
  }
  .item-role-active{
    .role-name{
      color: #ffb117 !important;
    }
  }
}