.class-ad{
    margin-top: 10px;
    background-color: white;
    padding: 15px 0;
}

.s-title{
    background-color: white;
    border-left: 4px solid rgb(247, 181, 42);;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.ad-content{
    margin:0 24px;
    font-size: 12px;
}

.line-middle{
    margin: 10px 20px 10px 20px;
    /*border-bottom: 1px solid #dfdfe4;*/
    position: relative;
}

.line-middle:after{
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    z-index: 20;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}