.placement-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto; }
  .placement-images .placement-image-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 7px;
    width: 48%;
    min-width: 120px; }
    .placement-images .placement-image-item img {
      width: 100%;
      border-radius: 10px; }
    .placement-images .placement-image-item .select-status {
      cursor: pointer;
      position: absolute;
      height: 42px;
      width: 42px;
      padding: 10px;
      top: 0;
      right: 0;
      z-index: 5; }
      .placement-images .placement-image-item .select-status div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        over-flow: hidden;
        background: white; }
        .placement-images .placement-image-item .select-status div img {
          width: 100%; }
