.class-practise-word {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9991;
  background-color: rgba(0, 0, 0, 0.3); }
  .class-practise-word .class-practise-content {
    padding: 50px 15px 0 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 50%;
    background: white url("//cdn-corner.resource.buzzbuzzenglish.com/circles.png") top center no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center; }
    .class-practise-word .class-practise-content div {
      width: 100%; }
      .class-practise-word .class-practise-content div .title {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        margin: 0 0 20px 0;
        letter-spacing: 2px; }
      .class-practise-word .class-practise-content div .practise-info {
        text-align: center;
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 34px;
        letter-spacing: 1px;
        color: #666; }
      .class-practise-word .class-practise-content div .btn {
        width: 100%;
        padding: 25px; }
        .class-practise-word .class-practise-content div .btn div {
          height: 50px;
          width: 100%;
          font-size: 17px;
          color: white;
          background: linear-gradient(to right, #fbda61, #f6b40c);
          letter-spacing: 1px;
          border-radius: 2em;
          display: flex;
          justify-content: center;
          align-items: center; }
