.header-with-go-back{
  height: 50px;
  padding: 0 0 0 0;
  z-index: 999;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  flex: 0 0 auto;

  .go-back{
    position: absolute;
    margin: 0;
    width: 20%;
    height: 50px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .go-back > div{
    display: inline-block;
    background-color: #eee;
  }

  .go-back>div.arrow-left{
    width: 20%;
    height: 30px;
    cursor: pointer;
  }

  .go-back>div.circle-border{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .go-back>div.circle-border>img{
    height: 40%;
  }

  .logo:nth-child(2) {
    width: 40%;
    height: 100%;
    margin: 0 auto;
  }

  .logo>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      font-size: 17px;
      text-align: center;
      letter-spacing: 0;
    }
  }

  .logo img{
    height: 40px;
  }

}

.half-line{
  box-shadow: none !important;
}

.half-line:after{
  content: '';
  position: absolute;
  width: 200%;
  height: 1px;
  z-index: 20;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid  #dfdfe4;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.5,.5);
  transform: scale(.5,.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}