.profile-update{
  width: 100%;
  background-color: #f4f5f9;
  .update-body{
    padding: 0 0 0 20px;
    background-color: white;
    .avatar-update{
      height: 90px;
      width: 100%;
      .avatar-img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid #d0d6db;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
    }
    div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      position: relative;
      .update-left{
        span{
          color: #000;
        }
      }
      .update-right{
        margin-right: 16px;
        span{
          color: #666;
          font-size: 14px;
          font-weight: lighter;
          padding-right: 10px;
          letter-spacing: 1px;
        }
        i{
          color: #666;
          font-size: 15px;
          font-weight: 300;
        }
      }
    }
    div.with-half-border:after{
      content: '';
      position: absolute;
      width: 200%;
      height: 1px;
      z-index: 20;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid  #dfdfe4;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(.5,.5);
      transform: scale(.5,.5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .update-btn{
    margin-top: 50px;
    padding: 0 20px;
  }
}