.profile-update {
  width: 100%;
  background-color: #f4f5f9;
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .profile-update .update-body {
    padding: 0 0 0 14px;
    background-color: white;
    flex: 0 0 auto; }
    .profile-update .update-body .avatar-update {
      height: 90px;
      width: 100%; }
      .profile-update .update-body .avatar-update .avatar-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid #d0d6db;
        overflow: hidden; }
        .profile-update .update-body .avatar-update .avatar-img img {
          width: 100%; }
    .profile-update .update-body div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      overflow: hidden;
      position: relative; }
      .profile-update .update-body div .update-left {
        margin-left: 9px; }
        .profile-update .update-body div .update-left span {
          color: #000;
          font-weight: 600;
          font-size: 15px; }
      .profile-update .update-body div .update-right {
        padding-right: 14px;
        position: relative;
        overflow: hidden;
        cursor: pointer; }
        .profile-update .update-body div .update-right select {
          cursor: pointer; }
        .profile-update .update-body div .update-right span, .profile-update .update-body div .update-right input.input-show {
          color: #666;
          font-size: 14px;
          padding-right: 10px;
          letter-spacing: 0; }
        .profile-update .update-body div .update-right input.input-show {
          border: none;
          outline: none;
          text-align: right;
          font-weight: 600; }
        .profile-update .update-body div .update-right i {
          color: #666;
          font-size: 15px;
          font-weight: 300; }
        .profile-update .update-body div .update-right input.hidden, .profile-update .update-body div .update-right select {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 20;
          opacity: 0;
          cursor: pointer; }
    .profile-update .update-body div.with-half-border:after {
      content: '';
      position: absolute;
      width: 200%;
      height: 1px;
      z-index: 20;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid  #dfdfe4;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .profile-update .update-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1 0 auto; }
