.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #aaa;
    margin: 0 auto;
    position: relative;
}

#avatar{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

#preview{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
}

#preview>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.plus{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}