.course-modal {
  position: fixed;
  z-index: 200;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    padding: 50px 0;
    background-color: white;
    border-radius: 10px;
    margin: 0 21px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .status-img {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
      }
    }
    .status-info {
      text-align: center;
      .title {
        font-size: 21px;
        color: #000;
        font-weight: 600;
        margin: 15px 0 10px 0;
      }
      .info {
        font-size: 14px;
        color: #666;
        margin-bottom: 25px;
      }
      .info-one {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 17px;
        color: #666;
      }
      .info-two {
        font-size: 14px;
        color: #868686;
        margin-bottom: 30px;
      }
    }
    .btn {
      width: 125px;
    }
    .btn-two {
      width: 100%;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        width: 125px;
      }
    }
  }
}