.weapp-done {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 21px; }
  .weapp-done .placement-img img {
    width: 180px; }
  .weapp-done .placement-word {
    margin: 30px 0;
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
    color: #000; }
  .weapp-done .placement-good {
    font-size: 15px;
    line-height: 21px;
    color: #000;
    text-align: center;
    margin-bottom: 20px; }
  .weapp-done .placement-qr-code img {
    width: 150px;
    display: block;
    margin: 0 auto; }
