.profile-progress,.profile-progress-foreign{
  width: 100%;
  box-sizing: border-box;
  margin-top: 1em;
  flex-shrink: 0;
  display: flex;
  position: relative;
  padding: 0 1em;
}

.profile-progress-foreign>div{
  flex: 0 0 auto;
  box-sizing: border-box;
  margin-top: 1em;
  width: 33.3%;
  position: relative;

  p{
    padding-top: 17px;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    color: #666;
    font-size: 13px;
  }
}

.profile-progress>div{
  flex: 0 0 auto;
  box-sizing: border-box;
  margin-top: 1em;
  width: 25%;
  position: relative;

  p{
    padding-top: 2em;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    color: #666;
    font-size: 13px;
  }
}

.dot{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 2px;
  background-color: rgb(223, 223, 228);
}

.dot>div.line-left{
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background-color: rgb(223, 223, 228);
}

.dot>div.line-left-last{
  width: 100%;
}

.done>.dot{
  background-color: #f7b52a !important;
}

.active>.dot>.line-left,.done>.dot>.line-left{
  background-color: #f7b52a;
}

.done>p,.active>p{
  color: #f7b52a !important;
}

.active>.dot>.circle{
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #f7b52a;
  background-color: white;
}

.done>.dot>.circle{
  background-color: #f7b52a !important;
}

.dot>div.circle{
  position: absolute;
  top: -2px;
  left: calc(50% - 3px);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: rgb(223, 223, 228);
  z-index: 99;
}
