.rating-map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 21px;
  background-color: rgba(0, 0, 0, 0.3); }
  .rating-map .rating-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60%;
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 -2px 10px 0 rgba(37, 38, 94, 0.1); }
    .rating-map .rating-content .title {
      font-size: 21px;
      font-weight: 600;
      color: #000;
      margin-bottom: 30px; }
    .rating-map .rating-content .title-intro {
      font-size: 12px;
      color: #666;
      margin-bottom: 20px; }
    .rating-map .rating-content .canvas {
      width: 200px;
      height: 200px;
      position: relative; }
      .rating-map .rating-content .canvas div.tab {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 60px; }
        .rating-map .rating-content .canvas div.tab .score {
          font-size: 13px;
          text-align: center;
          color: #edae00; }
        .rating-map .rating-content .canvas div.tab span {
          color: #000;
          font-size: 10px;
          text-align: center; }
      .rating-map .rating-content .canvas .tab-fluency {
        left: -40px;
        top: 0; }
      .rating-map .rating-content .canvas .tab-vocabulary {
        left: -40px;
        bottom: 0; }
      .rating-map .rating-content .canvas .tab-grammar {
        right: -40px;
        bottom: 0; }
      .rating-map .rating-content .canvas .tab-pronunciation {
        right: -40px;
        top: 0; }
    .rating-map .rating-content .score-intro {
      margin-top: 20px;
      font-size: 12px;
      color: #666;
      text-align: center;
      text-decoration: underline;
      cursor: pointer; }
