.select-day {
  padding: 20px 0 5px 0;
  width: 100%;
  background-color: white;
  flex: 0 0 auto;
  margin-bottom: 2px; }
  .select-day .month-year {
    padding-left: 21px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px; }
  .select-day .days {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .select-day .days .day-item {
      position: relative;
      padding: 8px 0 15px 0;
      border-radius: 2px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex: 1 1 auto;
      margin: 0 3px;
      color: #666; }
      .select-day .days .day-item .day-num {
        font-size: 17px;
        font-weight: normal; }
      .select-day .days .day-item .day-en {
        font-size: 10px;
        margin-top: 5px;
        font-weight: lighter; }
      .select-day .days .day-item .day-active {
        position: absolute;
        bottom: -8px;
        z-index: 2;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: transparent; }
        .select-day .days .day-item .day-active div {
          height: 100%;
          margin: 0 auto;
          width: 20px;
          border-radius: 2px;
          background-color: #ffd200; }
    .select-day .days .day-item-active {
      background-color: #ffd200;
      color: white !important; }
      .select-day .days .day-item-active .day-num {
        font-size: 17px;
        font-weight: bold !important; }
      .select-day .days .day-item-active .day-en {
        font-weight: bold !important; }
    .select-day .days .active-status {
      position: absolute;
      bottom: -8px;
      z-index: 2;
      left: -200px;
      width: calc((100% - 40px) / 7);
      height: 4px;
      background-color: transparent; }
      .select-day .days .active-status div {
        height: 100%;
        margin: 0 auto;
        width: 20px;
        border-radius: 2px;
        background-color: #ffd200; }
