.video-play-tablet{
  height: 100%;
  width: 100%;
  padding: 70px 0;
  position: fixed;
  left: 0;
  top: 0;
  .video-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    height: 100%;
    .tablet-video-player, .tablet-video-word{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      position: relative;
    }
    .tablet-video-player{
      flex: 0 0 auto;
      .video-btn{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          height: 50px;
        }
      }
    }
    .tablet-video-word{
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      .ad-word{
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #404040;
      }
      .class-link{
        flex: 1 0 auto;
      }
    }
  }
}