.help-center{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f9;
  height: auto !important;
  .help-list{
    background-color: white;
    margin-top: 10px;
    .help-title{
      height: 50px;
      line-height: 50px;
      color: #ffb117;
      font-size: 17px;
      text-align: center;
      position: relative;
    }
    .help-title:after, .help-item:after{
      content: '';
      position: absolute;
      width: 200%;
      height: 1px;
      z-index: 20;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid  #dfdfe4;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(.5,.5);
      transform: scale(.5,.5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .help-item{
      margin-left: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      line-height: 50px;
      font-size: 15px;
      color: #000;
      position: relative;
      cursor: pointer;
      .item-name{
        font-size: 15px;
        color: #000;
        padding-left: 9px;
      }
      .item-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 12px;
        font-size: 15px;
        color: #666;
        span{
          margin-right: 10px;
        }
      }
    }
  }
  .help-content{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    img{
      width: 100%;
      max-width: 600px;
    }
  }
}