.help-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f9; }
  .help-center .help-list {
    background-color: white;
    margin-top: 10px; }
    .help-center .help-list .help-title {
      height: 50px;
      line-height: 50px;
      color: #f6b40c;
      font-size: 17px;
      text-align: center;
      position: relative; }
    .help-center .help-list .help-title:after, .help-center .help-list .help-item:after {
      content: '';
      position: absolute;
      width: 200%;
      height: 1px;
      z-index: 20;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid  #dfdfe4;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .help-center .help-list .help-item {
      margin-left: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      line-height: 50px;
      font-size: 15px;
      color: #000;
      position: relative;
      cursor: pointer; }
      .help-center .help-list .help-item .item-name {
        font-size: 15px;
        color: #000;
        padding-left: 9px; }
      .help-center .help-list .help-item .item-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 12px;
        font-size: 15px;
        color: #666; }
        .help-center .help-list .help-item .item-btn span {
          margin-right: 10px; }
  .help-center .help-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; }
    .help-center .help-content img {
      width: 100%;
      max-width: 600px;
      margin-bottom: 5px; }
