.consult-page{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.consult-page > .back-header{
    width: 100%;
    height: 44px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-bottom: 1px solid rgb(223, 223, 228);
}

.consult-page > .back-header > div{
    margin-left: 1em;
    font-size: 1.5em;
}

.consult-page > .consult-content > .consult-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 20px 0;
}

.consult-page > .consult-content > .consult-avatar > img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgba(208, 214, 219, .5);
}

.consult-page > .consult-content > .consult-word{
    color: #f7b52a;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 0 40px;
}

.consult-page > .consult-content > .consult-QR-code{
    color: #666;
    font-size: 11px;
    width: 45%;
    margin: 0 auto;
}

.consult-page > .consult-content > .consult-QR-code > img{
    width: 100%;
    margin: 1em 0;
}

.consult-content p{
    text-align: center;
}

.consult-content p.email-info{
    font-size: 15px !important;
    margin: 15px 0 !important;
    font-weight: 600 !important;
}

.consult-content .consult-word-foreign{
    font-size: 15px;
    color: #f6b40c;
    margin-bottom: 20px;
}

.consult-content .email{
    width: 100%;
    border-top: 1px solid #dfdfe4;
    padding: 20px 0;
}

.consult-content .email-title{
    font-size: 14px;
    color: #000;
    text-align: left;
    padding: 0 20px;
    border-left: 4px solid #edae00;
    margin-bottom: 15px;
}

.consult-content .email .email-address{
    font-size: 14px;
    color: #666;
    text-align: left;
    padding-left: 20px;
    border-left: 4px solid #fff;
}

.consult-content .email .email-address > p{
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdfe4;
    display: flex;
    align-items: center;
    color: #666;
}