.consult-page{
    display: flex;
    height: 100%;
    margin: 0 -1em;
    flex-direction: column;
}

.consult-page > .back-header{
    width: 100%;
    height: 44px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-bottom: 1px solid rgb(223, 223, 228);
}

.consult-page > .back-header > div{
    margin-left: 1em;
    font-size: 1.5em;
}

.consult-page > .consult-content > .consult-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 20px 0;
}

.consult-page > .consult-content > .consult-avatar > img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgba(208, 214, 219, .5);
}

.consult-page > .consult-content > .consult-word{
    color: #f7b52a;
    font-size: 17px;
    letter-spacing: 1px;
}

.consult-page > .consult-content > .consult-QR-code{
    color: #666;
    font-size: 11px;
    width: 45%;
    margin: 0 auto;
}

.consult-page > .consult-content > .consult-QR-code > img{
    width: 100%;
    margin: 1em 0;
}

.consult-content p{
    text-align: center;
}