.birthday-label-style {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 200;
    display: block;
    padding: 0 0.5em;
}

.tablet-birth > div {
    margin-bottom: 10px;
}

.tablet-birth .react-datepicker-wrapper,
.tablet-birth .react-datepicker__input-container {
    width: 100%;
}

.tablet-birth input[name="date_of_birth"] {
    background-color: #f4f5f9 !important;
}