.birthday-label-style{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 200;
    display: block;
    padding: 0 0.5em;
}

.react-datepicker-wrapper, .react-datepicker__input-container{
    display: block !important;
}

.react-datepicker-wrapper input{
    height: 50px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.tablet-birth{
    display: flex;
}

.tablet-birth > div:first-child{
    margin-right: 10px;
}
.tablet-birth > div:last-child{
    margin-left: 10px;
}