.ui.form textarea:focus {
  background: #f4f5f9; }

.evaluation-submit {
  position: fixed;
  bottom: 0;
  width: 100%; }

.evaluation-item {
  background: white;
  margin-bottom: 5px;
  padding: 21px; }
  .evaluation-item .title-info {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    line-height: 21px;
    margin-bottom: 15px;
    position: relative; }
    .evaluation-item .title-info .shadow {
      position: absolute;
      top: 2px;
      z-index: 1;
      left: -21px;
      width: 100px;
      height: 18px;
      background: #f4f5f9; }
  .evaluation-item .content {
    position: relative;
    font-size: 13px;
    color: #666;
    word-wrap: break-word;
    padding-bottom: 15px; }
  .evaluation-item .content:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .evaluation-item .class-behavior {
    height: 50px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .evaluation-item .class-behavior .stars-word {
      display: flex;
      align-items: center;
      height: 100%; }
      .evaluation-item .class-behavior .stars-word .word {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        color: #868686; }
    .evaluation-item .class-behavior .behavior {
      height: 50px;
      line-height: 50px;
      color: #000;
      font-size: 15px;
      display: flex;
      align-items: center; }
      .evaluation-item .class-behavior .behavior .stars {
        display: flex;
        align-items: center; }
        .evaluation-item .class-behavior .behavior .stars img {
          width: 20px;
          margin-right: 10px; }
    .evaluation-item .class-behavior .stars-word {
      font-size: 15px;
      color: #868686; }
