.progress{
  padding: 20px 12px 0 12px;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  align-items: center;
  .short-line{
    flex: 0 0 auto;
    width: 8px;
    border-radius: 50%;
    height: 2px;
  }
  .long-line{
    flex: 1 0 auto;
    border-radius: 50%;
    height: 2px;
  }
  .num{
    flex: 0 0 auto;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 30px;
    }
  }
}