.update-password .title {
  color: #000;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin: 30px auto;
  text-align: center; }

.update-password .set-word {
  padding: 32px 21px; }
  .update-password .set-word .user-count, .update-password .set-word .user-password {
    height: 78px;
    margin-bottom: 16px;
    position: relative; }
    .update-password .set-word .user-count .label, .update-password .set-word .user-password .label {
      font-size: 17px;
      line-height: 24px;
      text-align: left;
      color: #868686;
      margin-bottom: 15px; }
    .update-password .set-word .user-count .info, .update-password .set-word .user-password .info {
      font-size: 17px;
      line-height: 24px;
      text-align: left;
      color: #000; }
    .update-password .set-word .user-count .input-container, .update-password .set-word .user-password .input-container {
      height: 24px;
      width: 100%;
      display: flex;
      align-items: center; }
      .update-password .set-word .user-count .input-container input, .update-password .set-word .user-password .input-container input {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 24px !important;
        flex: 1 1 auto;
        outline: none;
        border: none;
        background-color: white; }
      .update-password .set-word .user-count .input-container .status, .update-password .set-word .user-password .input-container .status {
        flex: 0 0 auto;
        width: 20px; }
        .update-password .set-word .user-count .input-container .status img, .update-password .set-word .user-password .input-container .status img {
          width: 100%; }
  .update-password .set-word .update-btn {
    margin-top: 50px; }
  .update-password .set-word .user-count:after, .update-password .set-word .user-password:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    z-index: 20;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
