.update-password{
  .title{
    color: #000;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin: 30px auto;
    text-align: center;
  }
  .set-word{
    padding: 32px 21px;
    .user-count, .user-password{
      height: 78px;
      margin-bottom: 16px;
      position: relative;
      .label{
        font-size: 17px;
        line-height: 24px;
        text-align: left;
        color: #868686;
        margin-bottom: 15px;
      }
      .info{
        font-size: 17px;
        line-height: 24px;
        text-align: left;
        color: #000;
      }
      .input-container{
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        input{
          font-size: 14px !important;
          font-weight: normal !important;
          line-height: 24px !important;
          flex: 1 1 auto;
          outline: none;
          border: none;
          background-color: white;
        }
        .status{
          flex: 0 0 auto;
          width: 20px;
          img{
            width: 100%;
          }
        }
      }
    }
    .update-btn{
      margin-top: 50px;
    }
    .user-count:after, .user-password:after{
      content: '';
      position: absolute;
      width: 200%;
      height: 1px;
      z-index: 20;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid  #dfdfe4;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(.5,.5);
      transform: scale(.5,.5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}