.avatar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid rgba(208, 214, 219, 0.5);
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
  }
}