.user-item{
  height: 155px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  .user-item-avatar{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px #d0d6db;
    img{
      width: 100%;
    }
  }
  .user-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    .your-name{
      font-size: 18px;
      line-height: 21px;
      color: #000;
      font-weight: 600;
    }
    .gender-birthday{
      margin: 10px 0 5px 0;
      font-size: 13px;
      line-height: 17px;
      color: #ffb117;
    }
    .city-grade{
      font-size: 11px;
      line-height: 15px;
      color: #868686;
    }
  }
  .status{
    position: absolute;
    right: 15px;
    top: 15px;
    height: 21px;
    width: 21px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
}