.white-space{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #f4f5f9;
  color: #666;
  flex-direction: column;

  img{
    width: 37.3%;
    max-width: 200px;
    margin-bottom: 30px;
  }

  p{
    font-size: 15px;
    line-height: 21px;
    color: #868686;
    padding: 0 20px;
    text-align: center;
  }
}