.course-detail {
  display: flex;
  flex-direction: column; }
  .course-detail .class-info:after, .course-detail .course-intro:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    z-index: 20;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .course-detail .course-intro {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 21px;
    justify-content: center; }
    .course-detail .course-intro .partners {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center; }
      .course-detail .course-intro .partners .partner-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-width: 90px;
        padding: 5px 20px; }
        .course-detail .course-intro .partners .partner-item .avatar {
          margin-bottom: 10px;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          border: solid 1px #dfdfe4;
          background-color: #f4f5f9;
          display: flex;
          align-items: center;
          justify-content: center; }
          .course-detail .course-intro .partners .partner-item .avatar img {
            width: 100%; }
        .course-detail .course-intro .partners .partner-item .name {
          display: flex;
          align-items: center;
          width: 100%; }
          .course-detail .course-intro .partners .partner-item .name span {
            font-size: 15px;
            line-height: 20px;
            color: #000;
            font-weight: 600;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center; }
        .course-detail .course-intro .partners .partner-item img.gender {
          position: absolute;
          right: 0;
          bottom: 7px;
          height: 15px; }
        .course-detail .course-intro .partners .partner-item .status {
          position: absolute;
          width: 20px;
          height: 20px;
          top: -3px;
          right: 15px;
          border-radius: 50%;
          overflow: hidden;
          z-index: 2; }
          .course-detail .course-intro .partners .partner-item .status img {
            width: 100%; }
    .course-detail .course-intro .intro .intro-title {
      font-size: 18px;
      color: #000;
      font-weight: 600;
      margin: 25px 0 15px 0;
      text-align: center; }
    .course-detail .course-intro .intro .intro-content {
      text-align: center;
      padding: 0 21px;
      font-size: 13px;
      color: #868686;
      line-height: 21px; }
  .course-detail .course-join {
    flex: 1 0 auto;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .course-detail .course-join .time-left {
      display: flex;
      align-items: center;
      margin-bottom: 30px; }
      .course-detail .course-join .time-left img {
        width: 32px;
        margin-right: 15px; }
      .course-detail .course-join .time-left .time {
        display: flex;
        flex-direction: column; }
        .course-detail .course-join .time-left .time .word {
          font-size: 13px;
          color: #868686;
          margin-bottom: 3px; }
        .course-detail .course-join .time-left .time .time-down {
          font-size: 15px;
          color: #000;
          font-weight: 600; }
    .course-detail .course-join .btn {
      width: 100%;
      padding: 0 100px; }
