.course-detail {
  display: flex;
  flex-direction: column; }
  .course-detail .class-info {
    flex: 0 0 auto;
    padding: 25px 0 25px 21px;
    display: flex;
    position: relative; }
    .course-detail .class-info .avatar-new {
      position: relative;
      width: 88px;
      height: 105px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px; }
      .course-detail .class-info .avatar-new img {
        height: 100%; }
      .course-detail .class-info .avatar-new img.bg {
        z-index: 20;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
    .course-detail .class-info .course-content {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .course-detail .class-info .course-content .name {
        font-size: 18px;
        font-weight: 600;
        color: #000; }
      .course-detail .class-info .course-content .topic {
        margin: 10px 0 5px 0;
        font-size: 13px;
        color: #868686; }
      .course-detail .class-info .course-content .date, .course-detail .class-info .course-content .time {
        font-size: 11px;
        color: #868686; }
    .course-detail .class-info .course-status {
      position: absolute;
      right: 0;
      top: 30px;
      font-size: 12px;
      height: 35px;
      line-height: 35px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      text-align: center;
      color: white;
      padding: 0 12px 0 18px;
      background-color: #6ae108; }
  .course-detail .class-info:after, .course-detail .course-intro:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    z-index: 20;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid  #dfdfe4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .course-detail .course-intro {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .course-detail .course-intro .partners {
      display: flex;
      justify-content: space-between;
      padding: 0 60px;
      align-items: center; }
      .course-detail .course-intro .partners .partner-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; }
        .course-detail .course-intro .partners .partner-item .avatar {
          margin-bottom: 10px;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          border: solid 1px #dfdfe4;
          background-color: #f4f5f9;
          display: flex;
          align-items: center;
          justify-content: center; }
          .course-detail .course-intro .partners .partner-item .avatar img {
            width: 100%; }
        .course-detail .course-intro .partners .partner-item .name {
          display: flex;
          align-items: center; }
          .course-detail .course-intro .partners .partner-item .name span {
            font-size: 15px;
            color: #000;
            font-weight: 500; }
          .course-detail .course-intro .partners .partner-item .name img {
            position: absolute;
            right: -15px;
            border-bottom: 0;
            height: 12px; }
        .course-detail .course-intro .partners .partner-item .status {
          position: absolute;
          width: 20px;
          height: 20px;
          top: -3px;
          right: -3px;
          border-radius: 50%;
          overflow: hidden;
          z-index: 2; }
          .course-detail .course-intro .partners .partner-item .status img {
            width: 100%; }
    .course-detail .course-intro .intro .intro-title {
      font-size: 18px;
      color: #000;
      font-weight: 600;
      margin-bottom: 15px;
      text-align: center; }
    .course-detail .course-intro .intro .intro-content {
      text-align: center;
      padding: 0 21px;
      font-size: 13px;
      color: #868686;
      line-height: 25px; }
  .course-detail .course-join {
    flex: 0 0 auto;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .course-detail .course-join .time-left {
      display: flex;
      align-items: center;
      margin-bottom: 30px; }
      .course-detail .course-join .time-left img {
        width: 32px;
        margin-right: 15px; }
      .course-detail .course-join .time-left .time {
        display: flex;
        flex-direction: column; }
        .course-detail .course-join .time-left .time .word {
          font-size: 13px;
          color: #868686;
          margin-bottom: 3px; }
        .course-detail .course-join .time-left .time .time-down {
          font-size: 15px;
          color: #000;
          font-weight: 500; }
    .course-detail .course-join .btn {
      width: 100%;
      padding: 0 100px; }
