.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    box-shadow: 0 0 2px #ccc;
    background-color: #fff;
}

.footer>div{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer > div > i{
    font-size: 1.5em;
}