.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    box-shadow: 0 0 2px #ccc;
    background-color: #fff;
}

.footer>a{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0,0,0,.87);
}

 .footer > a > img{
     height: 38%;
     margin-bottom: .2em;
}

.footer > a > p{
    font-size: .8em;
}