.tablet-header, .tablet-footer{
  width: 100%;
  height: 45px;
  position: fixed;
  z-index: 200;
  left: 0;
  padding: 0 100px;
  display: flex;
  align-items: center;
  .tablet-logo-left{
    height: 100%;
    display: flex;
    align-items: center;
    img{
      height: 25px;
      cursor: pointer;
    }
  }
  .tablet-middle{
    p{
      color: #666;
      font-size: 10px;
      text-align: center;
    }
    p.footer-word{
      color: #666;
      font-size: 6px;
    }
  }
  div{
    flex: 1 1 auto;
  }
}
.tablet-header{
  background-color: white;
  top: 0;
  border-bottom: 1px solid #dfdfe4;
}
.tablet-footer{
  background-color:  #191919;
  bottom: 0;
}